
<form  class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="formulario" >
 
  <div class="form-group" >
      <div class="col-md-12">

        <label for="nome" class="control-label">Nome</label>

        <input id="nome" formControlName="nome" placeholder="Nome" type="text" class="form-control">

      </div>
  </div>
  
  <div class="form-group">
      <div class="col-md-12">
        <label for="email" class="control-label">Email</label>
        <input id="email" formControlName="email" placeholder="nome@email.com" type="text" class="form-control">

      </div>
  
  </div>



  <button type="submit" class="btn btn-primary">
  Submit
</button>


<app-form-debug [form]="formulario" ></app-form-debug>

</form>